.profile {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
}

.headText {
  color: white;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
  position: relative;
}

.heading:after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: var(--slate);
  left: 11rem;
  top: 50%;
  opacity: 0.2;
  position: absolute;
}

.profileItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 1.5rem 3rem 0 3rem;
}

.highlight {
  color: var(--green);
  font-size: 1.1rem;
}

.information {
  width: calc(100% - 100px);
}

#intro {
  text-align: justify;
  line-height: 2rem;
}

.tags {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  margin-block: 1rem;
}

#technologies {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.technology {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.myImage {
  min-width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  padding: 10px;
}

.myImage > img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in;
}

@media screen and (max-width: 900px) {
  
  .information {
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  .profileItem {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .information {
    width: 90vw;
  }

  .heading:after {
    width: 150px;
    left: 10rem;
  }

  .myImage {
    border-color: var(--green);
  }

  #image {
    opacity: 1;
  }

  #intro {
    padding: 5px;
    text-align: left;
  }
}